@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-yellow-100 via-green-100 to-pink-100;
}
.data-sub {
  @apply flex p-1 items-center justify-between flex-wrap;
}
.sub {
  @apply flex-grow p-2 border-gray-900 border-2 text-left font-mono m-2;
}

.print-button {
  @apply py-2 px-3 bg-blue-800 text-blue-100 font-bold font-mono;
}
@media (print) {
  .print-button {
    display: none;
    visibility: hidden;
  }
  body {
    background: white;
  }
}
